  ------------------------------------------
  -- PROGRAM: FM AMOUNT DIMENSION PROC
  -- DEVELOPER: DANIEL RAVAGLIA
  -- DATE: 12/12/2018
  -------------------------------------------

drop table [ClaimSearch_Dev].[dbo].[DIM_FM_Amounts]
SELECT 
       main.I_ALLCLM      
      --// PROP OR CAS amounts
      
	  ,sum(CASE 
		WHEN clt17.I_ALLCLM IS NOT NULL 
			THEN (CLT17.A_BLDG_PD	+ CLT17.A_CNNT_PD	+ CLT17.A_STK_PD + CLT17.A_USE_PD + CLT17.A_OTH_PD) 	  	
		WHEN (clt17.I_ALLCLM IS NULL OR clt17.I_ALLCLM = '') AND clt14.I_ALLCLM IS NOT NULL
			THEN CLT14.A_STTLMT
		WHEN  (clt17.I_ALLCLM IS NULL OR clt17.I_ALLCLM = '') AND (clt14.I_ALLCLM IS NULL OR clt14.I_ALLCLM = '') 
			THEN 0
	   END)AS Amt_Settlement_Derived	   
   	   
      ,sum(CASE 
		WHEN clt17.I_ALLCLM IS NOT NULL 
			THEN (CLT17.A_BLDG_EST_LOSS	+ CLT17.A_CNTT_EST_LOSS	+ CLT17.A_STK_EST_LOSS + CLT17.A_USE_EST_LOSS + CLT17.A_OTH_EST_LOSS) 	  	
		WHEN (clt17.I_ALLCLM IS NULL OR clt17.I_ALLCLM = '') AND clt14.I_ALLCLM IS NOT NULL
		    THEN CLT14.A_EST_LOSS		
		WHEN  (clt17.I_ALLCLM IS NULL OR clt17.I_ALLCLM = '') AND (clt14.I_ALLCLM IS NULL OR clt14.I_ALLCLM = '') 
			THEN 0
	   END) AS Amt_EstimatedLoss_Derived
	  
	  ,sum(CASE 
		WHEN clt17.I_ALLCLM IS NOT NULL 
			THEN (CLT17.A_BLDG_RSRV	+ CLT17.A_CNNT_RSRV	+ CLT17.A_STK_RSRV + CLT17.A_USE_RSRV + CLT17.A_OTH_RSRV) 	  	
		WHEN (clt17.I_ALLCLM IS NULL OR clt17.I_ALLCLM = '') AND clt14.I_ALLCLM IS NOT NULL
		    THEN CLT14.A_RSRV		
		WHEN  (clt17.I_ALLCLM IS NULL OR clt17.I_ALLCLM = '') AND (clt14.I_ALLCLM IS NULL OR clt14.I_ALLCLM = '') 
			THEN 0
	   END) AS Amt_Reserved_Derived
	   
	   --// CHECK THIS RELATIONSHIP
	   
	  ,sum(CASE 
		WHEN clt17.I_ALLCLM IS NOT NULL 
	  		THEN (CLT17.A_BLDG_TL_INS + CLT17.A_CNTT_TL_INS	+ CLT17.A_STK_TL_INS + CLT17.A_USE_TL_INS + CLT17.A_OTH_TL_INS)	
	  	WHEN (clt17.I_ALLCLM IS NULL OR clt17.I_ALLCLM = '') AND clt14.I_ALLCLM IS NOT NULL
	  		THEN CLT14.A_INDM	
	  	WHEN  (clt17.I_ALLCLM IS NULL OR clt17.I_ALLCLM = '') AND (clt14.I_ALLCLM IS NULL OR clt14.I_ALLCLM = '') 
	  		THEN 0
	   END) AS Amt_TotalInsured_Derived
	   
	  --// CHECK THIS RELATIONSHIP
	  ,sum(CASE 
		WHEN clt17.I_ALLCLM IS NOT NULL 
			THEN (CLT17.A_BLDG_POL	+ CLT17.A_CNTT_POL	+ CLT17.A_STK_POL + CLT17.A_USE_POL + CLT17.A_OTH_POL) 	  	
		WHEN (clt17.I_ALLCLM IS NULL OR clt17.I_ALLCLM = '') AND clt14.I_ALLCLM IS NOT NULL
			THEN CLT14.A_CVG_TL
		ELSE 0
	   END) AS Amt_Policy_Derived  
	   	  
      --// PROP ONLY (column sum)
	  
	  ,sum(CASE WHEN clt17.I_ALLCLM IS NOT NULL --AND clt14.I_ALLCLM IS NOT NULL
			THEN (CLT17.A_BLDG_RPLCMT_VAL + CLT17.A_CNTT_RPLCMT_VAL + CLT17.A_STK_RPLCMT_VAL + CLT17.A_USE_RPLCMT_VAL+ CLT17.A_OTH_RPLCMT_VAL) 
	    ELSE 0
	   END )AS Amt_ReplacementValue_Derived
	  
	  ,sum(CASE WHEN clt17.I_ALLCLM IS NOT NULL --AND clt14.I_ALLCLM IS NOT NULL
			THEN (CLT17.A_BLDG_ACTL_VAL	+ CLT17.A_CNTT_ACTL_VAL + CLT17.A_STK_ACTL_VAL + CLT17.A_USE_ACTL_VAL + CLT17.A_OTH_ACTL_VAL) 
		ELSE 0
	   END )AS Amt_ActualCashValue_Derived
	   
	  ,sum(CASE WHEN clt17.I_ALLCLM IS NOT NULL THEN clt17.A_BLDG_TL_INS ELSE 0 END) AS A_BLDG_TL_INS
      ,sum(CASE WHEN clt17.I_ALLCLM IS NOT NULL THEN clt17.A_BLDG_RPLCMT_VAL ELSE 0 END) AS A_BLDG_RPLCMT_VAL
      ,sum(CASE WHEN clt17.I_ALLCLM IS NOT NULL THEN clt17.A_BLDG_ACTL_VAL ELSE 0 END) AS A_BLDG_ACTL_VAL
      ,sum(CASE WHEN clt17.I_ALLCLM IS NOT NULL THEN clt17.A_BLDG_EST_LOSS ELSE 0 END) AS A_BLDG_EST_LOSS
      ,sum(CASE WHEN clt17.I_ALLCLM IS NOT NULL THEN clt17.A_CNTT_POL ELSE 0 END) AS A_CNTT_POL
      ,sum(CASE WHEN clt17.I_ALLCLM IS NOT NULL THEN clt17.A_CNTT_TL_INS ELSE 0 END) AS A_CNTT_TL_INS
      ,sum(CASE WHEN clt17.I_ALLCLM IS NOT NULL THEN clt17.A_CNTT_RPLCMT_VAL ELSE 0 END) AS A_CNTT_RPLCMT_VAL
      ,sum(CASE WHEN clt17.I_ALLCLM IS NOT NULL THEN clt17.A_CNTT_ACTL_VAL ELSE 0 END) AS A_CNTT_ACTL_VAL
      ,sum(CASE WHEN clt17.I_ALLCLM IS NOT NULL THEN clt17.A_CNTT_EST_LOSS ELSE 0 END) AS A_CNTT_EST_LOSS
      ,sum(CASE WHEN clt17.I_ALLCLM IS NOT NULL THEN clt17.A_STK_POL ELSE 0 END) AS A_STK_POL
      ,sum(CASE WHEN clt17.I_ALLCLM IS NOT NULL THEN clt17.A_STK_TL_INS ELSE 0 END) AS A_STK_TL_INS
      ,sum(CASE WHEN clt17.I_ALLCLM IS NOT NULL THEN clt17.A_STK_RPLCMT_VAL ELSE 0 END) AS A_STK_RPLCMT_VAL
      ,sum(CASE WHEN clt17.I_ALLCLM IS NOT NULL THEN clt17.A_STK_ACTL_VAL ELSE 0 END) AS A_STK_ACTL_VAL
      ,sum(CASE WHEN clt17.I_ALLCLM IS NOT NULL THEN clt17.A_STK_EST_LOSS ELSE 0 END) AS A_STK_EST_LOSS
      ,sum(CASE WHEN clt17.I_ALLCLM IS NOT NULL THEN clt17.A_USE_POL ELSE 0 END) AS A_USE_POL
      ,sum(CASE WHEN clt17.I_ALLCLM IS NOT NULL THEN clt17.A_USE_TL_INS ELSE 0 END) AS A_USE_TL_INS
      ,sum(CASE WHEN clt17.I_ALLCLM IS NOT NULL THEN clt17.A_USE_RPLCMT_VAL ELSE 0 END) AS A_USE_RPLCMT_VAL
      ,sum(CASE WHEN clt17.I_ALLCLM IS NOT NULL THEN clt17.A_USE_ACTL_VAL ELSE 0 END) AS A_USE_ACTL_VAL
      ,sum(CASE WHEN clt17.I_ALLCLM IS NOT NULL THEN clt17.A_USE_EST_LOSS ELSE 0 END) AS A_USE_EST_LOSS
      ,sum(CASE WHEN clt17.I_ALLCLM IS NOT NULL THEN clt17.A_OTH_POL ELSE 0 END) AS A_OTH_POL
      ,sum(CASE WHEN clt17.I_ALLCLM IS NOT NULL THEN clt17.A_OTH_TL_INS ELSE 0 END) AS A_OTH_TL_INS
      ,sum(CASE WHEN clt17.I_ALLCLM IS NOT NULL THEN clt17.A_OTH_RPLCMT_VAL ELSE 0 END) AS A_OTH_RPLCMT_VAL
      ,sum(CASE WHEN clt17.I_ALLCLM IS NOT NULL THEN clt17.A_OTH_ACTL_VAL ELSE 0 END) AS A_OTH_ACTL_VAL
      ,sum(CASE WHEN clt17.I_ALLCLM IS NOT NULL THEN clt17.A_OTH_EST_LOSS ELSE 0 END) AS A_OTH_EST_LOSS
      ,sum(CASE WHEN clt17.I_ALLCLM IS NOT NULL THEN clt17.A_BLDG_RSRV ELSE 0 END) AS A_BLDG_RSRV
      ,sum(CASE WHEN clt17.I_ALLCLM IS NOT NULL THEN clt17.A_BLDG_PD ELSE 0 END) AS A_BLDG_PD
      ,sum(CASE WHEN clt17.I_ALLCLM IS NOT NULL THEN clt17.A_CNNT_RSRV ELSE 0 END) AS A_CNNT_RSRV
      ,sum(CASE WHEN clt17.I_ALLCLM IS NOT NULL THEN clt17.A_CNNT_PD ELSE 0 END) AS A_CNNT_PD
      ,sum(CASE WHEN clt17.I_ALLCLM IS NOT NULL THEN clt17.A_STK_RSRV ELSE 0 END) AS A_STK_RSRV
      ,sum(CASE WHEN clt17.I_ALLCLM IS NOT NULL THEN clt17.A_STK_PD ELSE 0 END) AS A_STK_PD 
      ,sum(CASE WHEN clt17.I_ALLCLM IS NOT NULL THEN clt17.A_USE_RSRV ELSE 0 END) AS A_USE_RSRV
      ,sum(CASE WHEN clt17.I_ALLCLM IS NOT NULL THEN clt17.A_USE_PD ELSE 0 END) AS A_USE_PD
      ,sum(CASE WHEN clt17.I_ALLCLM IS NOT NULL THEN clt17.A_OTH_RSRV ELSE 0 END) AS A_OTH_RSRV
      ,sum(CASE WHEN clt17.I_ALLCLM IS NOT NULL THEN clt17.A_OTH_PD ELSE 0 END) AS A_OTH_PD

  INTO [ClaimSearch_Dev].[dbo].[DIM_FM_Amounts]
  FROM [ClaimSearch_Dev].[dbo].[FM_ExtractFile]main
  
  left join [ClaimSearch_Prod].[dbo].[CLT00017]clt17
  on clt17.I_ALLCLM = main.I_ALLCLM
  
  left join [ClaimSearch_Prod].[dbo].[CLT00014]clt14
  on clt14.I_ALLCLM = main.I_ALLCLM
  
  group by main.I_ALLCLM
  
  
  
  
  ---------- remove below
  
  
  -- select count(*) as total from [ClaimSearch_Dev].[dbo].[FM_ExtractFile]
  
  
  select i_allclm into #temp from [ClaimSearch_Dev].[dbo].[DIM_FM_Amounts] group by i_allclm having COUNT(I_ALLCLM) > 1
  
  select * from [ClaimSearch_Dev].[dbo].[DIM_FM_Amounts]main
  
  inner join #temp a
  on a.I_allclm = main.i_allclm
  
  
--0A004807032

--I_ALLCLM	Amt_Settlement_Derived
--0B004814956	3000
--0B004814956	16022